
.indexImg {
    max-width: 200px;
    max-height: 200px;
}

.viewOneImg {
    max-width: 500px;
    max-height: 500px;
}

.indexImageDiv {
    float: left;
    overflow: hidden;
    width: 220px;
    height: 270px;
    margin: 5px;
    padding: 5px;
    border: 1px solid gray;
}

.indexImageDiv.selected {
    background: #e2e2e2;
}

.indexImageDiv div {
    max-width: 200px;
    max-height: 200px;
}
.multipleDeleteInput {
    width: 15px;
    height: 15px;
}

.searchFormDiv {
    float: left;
}

#multipleDeleteForm {
    margin-left: 300px;
    display: none;
}

.my-navbar {
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
}